Repository betterscientificsoftware/bssw.io, pull requests merged in 2019-10, with the labels that each got.

#423 Shorter Heat Equation is Hello World of CSE Blog article
  Articles/Blog/HelloHeatEquation.md
Labels: blog

#404 Fix publication date on Good Enough Practices
  CuratedContent/GoodEnoughPracticesInScientificComputing.md
Labels: bug

#346 What is devops
  CuratedContent/WhatIsDevOps.md
Labels: curated content ideas

#427 PR for adding two journals entries
  CuratedContent/PublishingCseSw.md
Labels: curated content ideas

#399 Add paragraph on Python for HPC content
  CuratedContent/PythonForHPC.md
Labels: curated content ideas
