Repository betterscientificsoftware/bssw.io, pull requests merged in 2019-11, with the labels that each got.

#442 Windus MolSSI blog article for early November
  Articles/Blog/SoftwareSustainabilityMolecularSciences.md
Labels: blog

#438 Create TenRulesToBuildACommunity.md
  CuratedContent/TenRulesToBuildACommunity.md
Labels: curated content ideas

#428 PR for article on self-perceptions
  CuratedContent/SelfPerceptions.md
Labels: curated content ideas

#373 Improve documentation on content types
  Site/ContentTypes.md
Labels: enhancement, site internal

#441 Container Mythbusters curated content
  CuratedContent/ContainerMythbusters.md
Labels: curated content ideas
