Repository betterscientificsoftware/bssw.io, pull requests merged in 2020-10, with the labels that each got.

#595 SSI Fellowship call event
  CuratedContent/BloggersWorthFollowing.md
  Events/SSIFellowship2021.md
Labels: content: event

#592 Thought leader blogroll curated content article
  Events/SSIFellowship2021.md
Labels: content: curated, status: pr-ready

#603 Content bug fix: https://bssw.io/items/a-collection-of-resources-for-sustaining-open-source-software
  CuratedContent/OSSSustainabilityResources.md
Labels: content: updates

#599 RSE blog and SC events
  Articles/Blog/RSE-HPC-2020Workshop.md
  Events/SC20-sw-events.md
Labels: content: blog, content: event
