Repository betterscientificsoftware/bssw.io, pull requests merged in 2020-01, with the labels that each got.

#455 Adding highlights for 2019 blog article
  Articles/Blog/BSSwHighlights2019.md
Labels: blog

#457 Fix bad typos in the list of criteria for not writing tests
  Articles/Blog/WhenNotToWriteAutomatedTests-src.md
  Articles/Blog/WhenNotToWriteAutomatedTests.md
Labels: blog, bug

#463 Fix spellings, typos, minor revisions for tone
  CuratedContent/psip-podcast.md
Labels: curated content ideas

#461 PR for PSIP Podcast
  CuratedContent/psip-podcast.md
Labels: curated content ideas, status=pr-ready

#462 PR for PSIP paper citation
  CuratedContent/psip-paper.md
Labels: curated content ideas

#465 Create psip-landing-page.md
  Articles/Blog/PsipMainPage.md
Labels: blog
