Repository betterscientificsoftware/bssw.io, pull requests merged in 2020-05, with the labels that each got.

#515 Blog on the Spack team working remotely
  Articles/Blog/2020-05-remote-spack.md
Labels: blog

#499 Initial commit of telecon tool features/uses
  CuratedContent/TelecomToolsForRemoteWork.md
Labels: curated content ideas

#517 Update 2020-05-remote-spack.md
  Articles/Blog/2020-05-remote-spack.md
Labels: blog

#507 Personal Kanban curated content
  CuratedContent/UsingPersonalKanban.md
Labels: curated content ideas

#513 Pagrubel 511 fix 4 cse collaboration
  CuratedContent/CseCollaborationThroughSoftwareImprovingProductivityAndSustainability.SIAM-CSE17.md
Labels: update content

#487 Defensive Coding Article from Wolfgang Bangerth, discussed at CW3S19 workshop.
  Articles/Blog/2020-03-making-myself-better.md
Labels: blog
