Repository betterscientificsoftware/bssw.io, pull requests merged in 2020-04, with the labels that each got.

#451 Create LackOfEvidenceInSoftwareEngineering.md
  CuratedContent/LackOfEvidenceInSoftwareEngineering.md
Labels: curated content ideas

#452 National RSE Organizations
  CuratedContent/NationalRSEOrgs.md
Labels: curated content ideas

#488 Maintainers Article from Steve Smith via Hai Ah Nam
  Articles/Blog/2020-03-maintainers-drive-sustainability.md
Labels: blog

#502 Remote working in agile world RemoteWorkingAgileWorld.md
  CuratedContent/RemoteWorkingAgileWorld.md
Labels: curated content ideas

#504 SIAM PP220 minisymposiusm
  CuratedContent/SiamPP20MiniSymp.md
Labels: curated content ideas

#468 adding first draft of rse podcast blog post
  Articles/Blog/RseStoriesPodcast.md
Labels: blog

#429 PR for changes to curated content workflow document
  Site/CuratedContentEditorialWorkflow.md
Labels: site internal

#509 Revisions to the curated content workflow: additions of two columns
  Site/CuratedContentEditorialWorkflow.md
Labels: site internal
