Repository betterscientificsoftware/bssw.io, pull requests merged in 2020-12, with the labels that each got.

#619 Karbarz cc examples
  docs/pages/bssw/bssw_styling_curated.md
Labels: scope: site-internal, type: enhancement

#620 Update bssw_styling_event.md
  docs/pages/bssw/bssw_styling_event.md
Labels: scope: site-internal, type: enhancement

#630 Adding CC for Coded Bias movie
  CuratedContent/CodedBiasMovie.md
Labels: content: curated

#477 Draft article for "rate your project" session held at ECP 2020
  Articles/Blog/2020-03-rate-your-project_UNPUB.md
Labels: content: article

#632 Add CC for Apollo Guidance Computer(AGC)-In Depth
  CuratedContent/AGCInDepth.md
Labels: content: curated

#635 EB docs updates
  docs/README.md
  docs/_data/sidebars/bssw_sidebar.yml
  docs/index.md
  docs/pages/bssw/bssw_content_highlighting.md
  docs/pages/bssw/bssw_content_images.md
  docs/pages/bssw/bssw_content_metadata.md
  docs/pages/bssw/bssw_content_overview.md
  docs/pages/bssw/bssw_content_placement.md
  docs/pages/bssw/bssw_content_publishing.md
  docs/pages/bssw/bssw_content_styling.md
  docs/pages/bssw/bssw_content_vendorspecific.md
  docs/pages/bssw/bssw_members.md
  docs/pages/bssw/bssw_styling_common.md
  docs/pages/bssw/bssw_styling_curated.md
  docs/pages/bssw/bssw_styling_event.md
  docs/pages/bssw/bssw_styling_originalarticles.md
  docs/pages/bssw/bssw_teamresponsibilites.md
Labels: content: updates

#636 Add information about deck images bssw_styling_originalarticles.md
  docs/pages/bssw/bssw_styling_originalarticles.md
Labels: content: updates

#641 Delete link to previous workflow.
  docs/pages/bssw/bssw_curatedworkflow.md
Labels: content: updates

#640 Karbarz cw21 submissions
  Events/CW21-Submissions.md
Labels: content: event

#639 Karbarz bokss event
  Events/BoKSS21-workshop.md
Labels: content: event

#651 Create Workshop.SE4Science21.md
  Events/Workshop.SE4Science21.md
Labels: content: event

#657 Typo
  CuratedContent/AGCInDepth.md
Labels: content: updates

#658 Minor fixes
  CuratedContent/CodedBiasMovie.md
Labels: content: updates
