Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-08, with the labels that each got.

#977 Create 2021-08-IntegratingInterns.md
  Articles/Blog/2021-08-IntegratingInterns.md
Labels: content: blog, preview

#1005 Event for Workshop on Sustainable Software Sustainability
  Events/2021-10-wosss21.md
Labels: content: event, preview

#1006 Removed redundant note about time of webinar
  Events/hpcbp-056-20yearsopensource.md
Labels: content: event, content: updates

#1007 Add July and August webinars
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1003 Added link to Online Learning CC
  CuratedContent/OnlineLearningIntro.md
Labels: content: curated

#991 PR: CC: Things You Should Never Do, Part I
  CuratedContent/ThingsYouShouldNeverDoPartI.md
Labels: content: curated, preview

#1009 add one FAQ and update dates
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: preview

#1020 Update FellowshipsOverview.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: preview

#1021 Update FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
Labels: preview

#1022 Update FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: preview

#1010 Create BSSwFellowshipApplicationsOpen2021.md
  Articles/Blog/BSSwFellowshipApplicationsOpen2021.md
Labels: content: blog, preview

#1011 CC: Things You Should Never Do, Part I: Some edits after this sat for a couple of weeks
  CuratedContent/ThingsYouShouldNeverDoPartI.md
Labels: content: curated, preview

#982 Added Github Link
  Events/swr-002-parentsworkingremotely.md
  Events/swr-003-virtualsoftwareteams.md
  Events/swr-004-onboardingmentoring.md
  Events/swr-006-hybrid.md
  Events/swr-007-creativity.md
  Events/swr-007-review.md
  Events/swr-008-creativity.md
  Events/swr-009-internships.md
Labels: content: updates, preview

#1027 Update documentation for move to images/ subdir (#703)
  docs/pages/bssw/bssw_styling_common.md
  docs/pages/bssw/bssw_styling_curated.md
  docs/pages/bssw/bssw_styling_originalarticles.md
  images/README.md
Labels: scope: site-internal

#1028 Replace references to old 'images' repo with links to 'images' subdir (#738)
  Articles/Blog/ApolloGuidanceComputerPart1.md
  Articles/Blog/ApolloGuidanceComputerPart2.md
  Articles/Blog/BlogArticleSkeletonA.md
Labels: content: blog, preview

#1031 Create 2021-10-ssi-fellowship.md
  Events/2021-10-ssi-fellowship.md
Labels: content: event, preview

#1036 Create SwEcosystems.md
  CuratedContent/SwEcosystems.md
Labels: content: curated, preview

#1037 Edits to Sw Ecosystem curated content
  CuratedContent/SwEcosystems.md
Labels: content: curated, preview

#1038 Minor grammar changes to Sw Ecosystem article.
  CuratedContent/SwEcosystems.md
Labels: content: curated, content: updates, preview
