Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-02, with the labels that each got.

#696 March HPC-BP webinar event
  Events/hpcbp-050-raja.md
  Site/Homepage.md
Labels: content: event

#692 Event for SIAM CSE21
  Events/2021-03-siam-cse21.md
  Site/Homepage.md
Labels: content: event

#688 Create GitWorktrees.md
  CuratedContent/GitWorktrees.md
Labels: content: curated

#670 PR Size Article
  Articles/ShortArticles/PullRequestSizeConsiderations-wikized.md
  Articles/ShortArticles/PullRequestSizeConsiderations.md
Labels: content: article

#720 Event for ECP BOF Days
  Events/2021-03-ECP21-BOF.md
Labels: content: event

#700 Link to naming in style guide
  docs/pages/bssw/bssw_styling_common.md
  docs/pages/bssw/bssw_styling_curated.md
  docs/pages/bssw/bssw_styling_event.md
  docs/pages/bssw/bssw_styling_originalarticles.md
Labels: content: updates

#722 Update BSSwHighlights2020 blog with some updated links
  Articles/Blog/BSSwHighlights2020.md
Labels: content: blog, content: updates

#723 Punctuation Added to gitworktree article
  CuratedContent/GitWorktrees.md
Labels: content: updates

#726 Added February webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates, status: pr-ready

#701 Initial draft of blog post.
  Articles/Blog/2021-03-useful-practices-for-SEoMsDSP.md
Labels: content: blog

#694 Add documentation for preview branch workflow
  docs/pages/bssw/bssw_pr_preview_branch.md
Labels: scope: site-internal, type: enhancement

#725 Replace sanity with better word
  Site/ContentTypes.md
  docs/pages/bssw/bssw_content_publishing.md
Labels: type: enhancement
