Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-04, with the labels that each got.

#778 Move citations/references section to common styling page (#769, #702)
  docs/pages/bssw/bssw_styling_common.md
  docs/pages/bssw/bssw_styling_curated.md
  docs/pages/bssw/bssw_styling_event.md
  docs/pages/bssw/bssw_styling_originalarticles.md
  utils/README.md
Labels: scope: site-internal

#747 Adding Editorial Assistant and Partners to About page
  Site/About.md
Labels: scope: site-internal, type: enhancement

#783 Kanban and Scrum - Making the Most of Both CC Article
  CuratedContent/KanbanAndScrumMakingTheBestOfBoth.md
Labels: bssw-digest:2021, content: curated, preview

#789 Fixup 'preview' and wikize_refs.py documentation (#702, #704)
  Articles/Blog/ReferencesInMarkdownHybridApproach-wikized.md
  Articles/Blog/ReferencesInMarkdownHybridApproach.md
  docs/pages/bssw/bssw_content_publishing.md
  docs/pages/bssw/bssw_pr_preview_branch.md
Labels: scope: site-internal

#788 Improve figure in Kanban and Scrum CC article (#576)
  CuratedContent/KanbanAndScrumMakingTheBestOfBoth.md
Labels: content: curated, preview

#795 Adding information about the RSS-update metadata
  docs/pages/bssw/bssw_content_metadata.md
Labels: type: enhancement

#736 Create 2021-04-SWMetricsInResearch.md
  Articles/Blog/2021-04-SWMetricsInResearch.md
Labels: content: blog, preview

#797 Add role prefix to checklist items and rearrange to group by author (#695)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: site-internal, status: ready for EB discussion

#804 Fix spelling of achieve
  CuratedContent/PlanningUsingPSIPs.md
Labels: content: updates, preview

#803 Added info about Netflix
  CuratedContent/CodedBiasMovie.md
Labels: content: curated, content: updates, preview

#800 Create 2021-04-RetrospectiveStrategies.md
  Articles/Blog/2021-04-RetrospectiveStrategies.md
Labels: content: blog, preview

#799 Create 2021-05-US-RSEWorkshop.md
  Events/2021-05-US-RSEWorkshop.md
Labels: content: event, preview

#806 Add Technical debt article
  CuratedContent/TechnicalDebt.md
Labels: content: curated, preview

#809 Create IntroHPCResources.md
  CuratedContent/IntroHPCResources.md
Labels: content: curated, preview

#812 Collegeville workshop 2021
  Events/Collegeville2021.event.md
Labels: content: event

#816 Removed formal title
  Articles/Blog/2021-04-SWMetricsInResearch.md
Labels: content: blog

#815 Title Capitalization
  CuratedContent/KanbanAndScrumMakingTheBestOfBoth.md
  CuratedContent/TechnicalDebt.md
Labels: content: curated
