Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-10, with the labels that each got.

#1096 Closing 2022 submissions
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: preview

#1097 Fixed graph for closing submission
  Site/BSSwFellowshipProgram/MeetFellows.md
Labels: preview

#1098 September and November panels
  CuratedContent/swr-panels-cc.md
  Events/swr011-sustainablehybrid.md
Labels: content: curated, content: event, content: updates, preview

#1101 Update URL
  Events/2021-10-wosss21.md
Labels: content: event, content: updates
