Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-12, with the labels that each got.

#1125 Fix missing images
  Articles/Blog/ApolloGuidanceComputerPart2.md
  Articles/Blog/ApolloGuidanceComputerPart3.md
Labels: content: blog, preview

#1148 Update announcement time
  Site/BSSwFellowshipProgram/FellowshipsApply.md
Labels: preview

#1151 Create 2021-12-RSE_Survey.md
  Events/2021-12-RSE_Survey.md
Labels: content: event, preview

#1152 Correct typo
  Events/2021-12-RSE_Survey.md
Labels: content: event, content: updates

#1153 Update with December webinar
  CuratedContent/hpcbp-webinars-cc.md
  Events/hpcbp-060-wrongway.md
Labels: content: curated, content: event, content: updates

#1060 Added Resource to Force11 article
  CuratedContent/FORCE11SoftwareCitationImplementationWorkingGroup.md
Labels: content: article, content: updates, preview

#1154 SC21 BOF blog article
  Articles/Blog/2021-12-sc21-swe-cse-bof.md
Labels: content: blog, preview

#1157 RSE should be RSEs
  Articles/Blog/2021-12-sc21-swe-cse-bof.md
Labels: content: blog, content: updates
