Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-05, with the labels that each got.

#831 Updates to smaller logo; removed extra metadata
  CuratedContent/SoftwareInfrastructureForSustainedInnovationSI2NationalScienceFoundationUS.md
Labels: content: updates, preview

#834 Update MolecularSciencesSoftwareInstitute.md
  CuratedContent/MolecularSciencesSoftwareInstitute.md
Labels: content: updates, preview

#838 Rename RequirementsAndRequirementsEngineeringREVISE.md to Requirement…
  Articles/ShortArticles/RequirementsAndRequirementsEngineering.md
Labels: content: updates

#839 Rename CuratedContent/UnderstandingRequirementsREVISE.md to Articles/…
  Articles/ShortArticles/UnderstandingRequirements.md
Labels: content: updates

#845 Article Updates - TLF Webinar
  CuratedContent/TransmediaLearningFrameworks.md
  CuratedContent/TransmediaLearningFrameworksREVISE.md
Labels: content: curated, preview

#844 Article Updates - Documenting Code
  CuratedContent/KlinvexATPESC2016REVISE.md
Labels: content: curated, preview

#843 Add EB Docs section on non-standard handling of Markdown by bssw.io
  docs/pages/bssw/bssw_styling_common.md
Labels: scope: site-internal, status: ready for EB discussion

#821 Create 2021-05-IntroToGPUProgramming.md
  Articles/Blog/2021-05-IntroToGPUProgramming.md
Labels: content: blog, preview

#868 Update BSSwFellows2018ProjectsAndPerspectives.md
  Articles/ShortArticles/BSSwFellows2018ProjectsAndPerspectives.md
Labels: content: article, content: updates, preview

#869 Cleanup UserStories.md
  Articles/ShortArticles/UserStories.md
Labels: content: updates, preview

#847 Article Updates - Tool Compatability
  CuratedContent/WhatPerfPortabilityToolsAreCompatibleREVISE.md
Labels: content: article, preview

#846 Add LearnPython.org to TLF cc
  CuratedContent/OnlineLearningTLF.Python.md
Labels: content: curated, content: updates, preview

#871 Article Updates - Tool Compatibility Update 2
  Articles/ShortArticles/WhatPerfPortabilityToolsAreCompatible.md
Labels: content: updates, preview

#873 Update FellowshipsApply.md to remove timeline
  Site/BSSwFellowshipProgram/FellowshipsApply.md
Labels: content: updates, preview

#829 Debugging Books collection
  CuratedContent/Debuggingbooks.md
Labels: content: curated, preview

#882 CC on Debuggingbooks.md : minor updates
  CuratedContent/Debuggingbooks.md
Labels: content: curated, preview

#883 Minor updates and publish
  Articles/ShortArticles/WhatPerfPortabilityToolsAreCompatible.md
Labels: content: article, content: updates, preview

#885 Rename KlinvexATPESC2016REVISE.md to KlinvexATPESC2016.md
  CuratedContent/KlinvexATPESC2016.md
Labels: content: curated, content: updates, preview

#823 Critical Beginner Git Usage Tips
  Articles/HowTos/CriticalBeginnerGitUsageTips.md
Labels: content: article, preview

#887 Update PR checklist changing last items to 'BSSw Maint' (#330)
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: site-internal

#888 Minor edits to debugging books article
  CuratedContent/Debuggingbooks.md
Labels: content: updates

#894 Missing details in Git Tips howto
  Articles/HowTos/CriticalBeginnerGitUsageTips.md
Labels: content: howto, preview

#892 Modify formatting to match other interview blog posts
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
Labels: content: blog, content: updates, preview

#872 Event for 2022-01-SoftwareQualityDays
  Events/2022-01-SoftwareQualityDays.md
Labels: content: event, preview

#822 Article on Rubber Duck Debugging
  CuratedContent/RubberDuckDebugging.md
Labels: content: curated, preview

#897 Kasia's review
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
Labels: preview

#890 Blog on 2021 BSSw.io community BOF
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
Labels: content: blog, preview

#900 Correct capitalization
  Events/hpcbp-053-psip4hdf.md
Labels: content: event, content: updates

#901 Grammer and minor edits to blog 2021-05-experiences-bssw-community-bof.md
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
Labels: content: updates, preview

#902 Update Homepage.md carousel for May 2021
  Site/Homepage.md
Labels: content: updates, preview

#903 Minor Article Fixes - May Digest
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
  CuratedContent/Debuggingbooks.md
  CuratedContent/IntroHPCResources.md
  Events/hpcbp-053-psip4hdf.md
Labels: content: updates, preview

#907 Typos in community BOF article
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
Labels: content: updates, preview
