Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-07, with the labels that each got.

#970 Make the link to bssw_wikize_refs work correctly in jekll-generated site (Against #927)
  docs/pages/bssw/bssw_styling_common.md
  docs/pages/bssw/bssw_wikize_refs.md
Labels: scope: site-internal, type: enhancement

#749 Fix most markdownlint errors (#745)
  CuratedContent/WorkingEffectivelyWithLegacyCode.md
Labels: content: curated, preview

#976 Add Charles's GitHub ID
  Events/hpcbp-014-bestpractices.md
Labels: content: event, content: updates, preview

#984 Add event for UA testing survey
  Events/2021-08-ua-testing-survey.md
Labels: content: event, preview

#986 Create 2021-07-BSSwFellows21.md
  Articles/Blog/2021-07-BSSwFellows21.md
Labels: content: blog, preview

#967 wikizer_refs.py: Add test wikize_refs_linkdef_databases_pure (#927)
  utils/tests/CMakeLists.txt
  utils/tests/test_linkdef_dbs_database_pure.md
  utils/tests/test_linkdef_dbs_source_pure.md
Labels: scope: site-internal
