Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-06, with the labels that each got.

#910 Update About.md to have Team H1
  Site/About.md
Labels: preview

#913 Create 2021-11-rse-hpc-workshop.md
  Events/2021-11-rse-hpc-workshop.md
Labels: content: event, preview

#918 Create hpcbp-054-miningdevdata.md
  Events/hpcbp-054-miningdevdata.md
Labels: content: event

#920 PR template: Specifically mention `@betterscientificsoftware/bssw-maint`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: site-internal

#886 Add blog article by Nathan Ellingwood and Siva Rajamanickam
  Articles/Blog/PracticesPerformancePortableEco.md
Labels: content: blog, preview

#911 Adding CC for INI
  CuratedContent/InclusiveNamingInitiative.md
Labels: content: curated, preview

#924 Make image local to bssw repositories
  CuratedContent/DocumentationTools.Sphinx.md
  images/sphinxheader.png
Labels: content: curated, content: updates, preview

#851 Handle ftp:// URLs in wikizer and fix associated content
  Articles/Blog/ApolloGuidanceComputerPart1-wikized.md
  Articles/Blog/ApolloGuidanceComputerPart1.md
  utils/wikize_refs.py
Labels: content: updates, preview, scope: site-internal

#854 Remove wikized variants
  Articles/Blog/ApolloGuidanceComputerPart2-wikized.md
  Articles/Blog/ApolloGuidanceComputerPart2.md
  Articles/Blog/ApolloGuidanceComputerPart3-wikized.md
  Articles/Blog/ApolloGuidanceComputerPart3.md
  Articles/Blog/Covid19WorkstationCleanliness-wikized.md
  Articles/Blog/Covid19WorkstationCleanliness.md
  Articles/ShortArticles/PullRequestSizeConsiderations-wikized.md
  Articles/ShortArticles/PullRequestSizeConsiderations.md
Labels: preview, scope: site-internal

#933 Add ability to submit test results to CDash
  utils/.gitignore
  utils/CMakeLists.txt
  utils/CTestConfig.cmake
  utils/README.md
  utils/run_tests_submit_to_cdash.sh
Labels: scope: site-internal, type: enhancement

#934 Ten Best Practices for Remote Sw Engg
  CuratedContent/TenBestPracticesRemoteSwEngg.md
Labels: content: curated, preview

#936 Minor typos in article "10 best practices for remote engineers"
  CuratedContent/TenBestPracticesRemoteSwEngg.md
Labels: content: curated, content: updates, preview

#937 Changed language to third person
  Events/2021-11-rse-hpc-workshop.md
Labels: content: event, preview

#940 Updating June Articles
  CuratedContent/InclusiveNamingInitiative.md
  CuratedContent/TenBestPracticesRemoteSwEngg.md
Labels: content: curated, preview

#908 Creating md file for E4S blog
  Articles/Blog/2021-06-ES4Blog.md
  images/E4S-Blog-AMI.png
  images/E4S-Blog-Cache.png
  images/E4S-Blog-Container.png
  images/E4S-Blog-DocPortal.png
  images/E4S-Blog-Pipeline.png
  images/E4S-Blog-Portal.png
Labels: content: blog, preview

#941 Update InclusiveNamingInitiative.md
  CuratedContent/InclusiveNamingInitiative.md
Labels: content: curated
