Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-11, with the labels that each got.

#1124 Blog on Collegeville Workshop 2021 Report Day3
  Articles/Blog/2021-11-CollegevilleReportDay3.md
Labels: content: blog, preview

#1127 Update 2021-10-CollegevilleReportDay2.md
  Articles/Blog/2021-10-CollegevilleReportDay2.md
Labels: content: updates, preview

#1126 Link all Collegeville workshop blogs
  Articles/Blog/2021-09-CollegevilleReportDay1.md
Labels: content: updates, preview

#1121 Graziani 2021-11-blog
  Articles/Blog/2021-11-HPCAndTheLabManager.md
Labels: content: blog, preview

#1141 Update swr-panels-cc.md
  CuratedContent/swr-panels-cc.md
Labels: content: curated, content: updates

#1071 Create Inclusive Language Resources CC
  CuratedContent/InclusiveTermsResources.md
Labels: content: curated, preview

#1143 Correcting name mapping entries
  Site/Contributors.md
Labels: preview
