Repository betterscientificsoftware/bssw.io, pull requests merged in 2021-09, with the labels that each got.

#1039 Create ExecutableEnvironments.md
  CuratedContent/ExacutableEnvironments.md
Labels: content: curated, preview

#1041 Add Joel on Software to Bloggers Worth Following
  CuratedContent/BloggersWorthFollowing.md
Labels: content: curated, content: updates

#1047 Change convention for references to images
  Site/Homepage.md
Labels: scope: site-internal, preview

#1044 Create 2021-9-XpertNetwork.md
  Events/2021-09-XpertNetwork.md
  Site/Contributors.md
Labels: content: event, preview

#1051 Update FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: preview

#1052 October HPC-BP webinar
  Events/hpcbp-057-sierra-and-elcapitan-coes.md
Labels: content: event

#1062 Add September webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1046 Create 2021-09-CollegevilleReportDay1.md
  Articles/Blog/2021-09-CollegevilleReportDay1.md
Labels: content: blog, preview

#1063 update FAQ with video link and new response
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: preview

#1065 Correct misspelling of El Capitan
  Events/hpcbp-057-sierra-and-elcapitan-coes.md
Labels: content: event, content: updates

#1073 No more "preview" metadata setting.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: scope: site-internal

#1069 CC Article for SSI guides
  CuratedContent/SoftwareSustainabilityInstituteGuides.md
Labels: content: curated, preview

#1082 CDI October webinar
  Events/2021-10-XpertNetwork.md
Labels: content: event, preview

#1083 Minor modification of title
  Events/2021-10-XpertNetwork.md
Labels: content: event, content: updates

#1078 Blog interview on Scientific Software Contribution to Scientific Discoveries
  Articles/Blog/2021-09-SSwDiscoveriesInterview.md
Labels: content: blog, preview

#1084 Update 2021-10-XpertNetwork.md
  Events/2021-10-XpertNetwork.md
Labels: content: event, content: updates, preview

#1085 Update Carousel for Sep
  Site/Homepage.md
Labels: scope: site-internal, preview

#1086 Override a Contributors github name
  Site/Contributors.md
Labels: type: bug, content: updates, preview

#1061 Create SoftwareVersioning.md
  CuratedContent/SoftwareVersioning.md
Labels: content: curated, preview
