Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-05, with the labels that each got.

#1316 PASC22 schedule now available
  Events/2022-06-pasc-sw-events.md
Labels: content: event, content: updates, preview

#1335 June HPC-BP webinar and update of CC article
  CuratedContent/hpcbp-webinars-cc.md
  Events/hpcbp-064-embracingchange.md
Labels: content: curated, content: event, content: updates, preview

#1317 2022-05 Trusted Cyberinfrastructure blog
  Articles/Blog/2022-05-trusted-cyberinfrastructure.md
Labels: content: blog, preview

#1336 cw22 & rse escience events
  Events/2022-07-collegevilleworkshop.md
  Events/2022-10-rses-in-escience.md
Labels: content: event, preview

#1342 Correct spelling of Pat's name
  Articles/Blog/2021-12-sc21-swe-cse-bof.md
Labels: content: blog, content: updates

#1345 Change "Mark Miller" to "Mark C. Miller"
  .github/workflows/README.md
  Articles/Blog/ApolloGuidanceComputerPart1.md
  Articles/Blog/ApolloGuidanceComputerPart2.md
  Articles/Blog/ApolloGuidanceComputerPart3.md
  Articles/Blog/BSSwHighlights2018.md
  Articles/Blog/BSSwHighlights2019.md
  Articles/Blog/ContinuousTechnologyRefreshment.md
  Articles/Blog/Covid19WorkstationCleanliness.md
  CuratedContent/InclusiveTermsResources.md
  CuratedContent/InclusivityBugs.md
  CuratedContent/hpcbp-webinars-cc.md
  CuratedContent/swr-panels-cc.md
  Events/hpcbp-031-Apollo50th.md
  Events/panel.RemoteWorking0420.md
  Events/swr-001-remote.md
  Events/swr-006-hybrid.md
  Site/About.md
  docs/pages/bssw/bssw_members.md
Labels: preview

#1339 Attempt adjust blog article to use refs.
  Articles/Blog/2022-04-user-stories.md
Labels: preview

#1351 Create 2022-09-US-RSE-Workshop.md & 2022-11-Correctness-HPC.md
  Events/2022-09-US-RSE-Workshop.md
  Events/2022-11-Correctness-HPC.md
Labels: content: event, preview

#1358 Update opensourceguide curated content
  CuratedContent/OpenSourceGuides.md
Labels: content: curated, content: updates, preview

#1357 New pubish date for critical github tips article
  Articles/HowTos/CriticalBeginnerGitUsageTips.md
Labels: content: curated, content: updates, preview

#1347 SIAM PP22 build, integration, testing panel blog article
  Articles/Blog/2022-05-build-integration-testing.md
  images/2022-05-blog-xsdk-dependencies.png
Labels: content: blog, preview
