Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-06, with the labels that each got.

#1249 Software deployment process for spack e4s stack at nersc
  Articles/Blog/2022-06-Software-Deployment-Bringing-resources-into-effective-acction.md
  images/Blog_2205_SoftwareDeploymentProcess.png
  images/People_SameerShende.jpeg
  images/People_ShahzebSiddiqui.jpg
Labels: preview

#1364 Canceling of the 2022-07-collegevilleworkshop.md
  Events/2022-07-collegevilleworkshop.md
Labels: content: event, content: updates, preview

#1365 July webinar
  Events/hpcbp-065-precice-ecosystem.md
Labels: content: event, preview

#1366 Update hpcbp-webinars-cc.md
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1371 Remove quotes from topics
  Events/hpcbp-065-precice-ecosystem.md
Labels: content: event, content: updates, preview

#1368 ADD CC article on Bus Factor
  CuratedContent/BusFactor.md
Labels: content: curated, preview

#1372 Update BusFactor.md
  CuratedContent/BusFactor.md
Labels: preview

#1367 OpenSSF Best Practices Program Original Article
  Articles/ShortArticles/OpenssfBestPracticesBadgeProgram.md
  images/ossf_best_practices_badge_app_item.jpg
  images/ossf_best_practices_badge_example_passing_99_percent.jpg
  images/ossf_best_practices_categories_scores.jpg
  images/ossf_best_practices_hide_unmet_expand_panels.jpg
Labels: content: article, preview

#1374 Update BusFactor.md: grammar, RSS and pub date
  CuratedContent/BusFactor.md
Labels: content: curated, content: updates, preview

#1373 Carousel Update for June 2022
  Site/Homepage.md
Labels: content: updates, preview
