Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-08, with the labels that each got.

#1392 Create 2022-08-hpcwdrag-ally.md
  Events/2022-08-hpcwdrag-ally.md
Labels: content: event, preview

#1399 August SWR panel event
  Events/swr-014-team-of-teams1.md
Labels: content: event

#1400 September webinar event
  Events/hpcbp-067-softwarepackaging.md
Labels: content: event

#1401 Update with August webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1150 Create TeamExperiencesImplementingCI.md
  Articles/Blog/2022-08-brightspot-ci.md
Labels: content: blog, preview

#1398 New file copy and paste
  Articles/Blog/2022-08-BSSwFellowsOpen2022.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: preview

#1407 Alice Allen scicodes blog repost from SSI
  Articles/Blog/2022-08-scicodes-consortium.md
Labels: content: blog, preview

#1415 changing time of webinar
  Articles/Blog/2022-08-BSSwFellowsOpen2022.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
Labels: preview

#1414 Create breaking-apart.md
  CuratedContent/breaking-apart.md
Labels: content: curated, preview

#1417 Grammar in breaking apart article
  CuratedContent/breaking-apart.md
Labels: content: updates, preview

#1416 Updating carousel for aug 2022
  Site/Homepage.md
Labels: content: updates, preview
