Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-04, with the labels that each got.

#1287 Trying to fix a problem with the caption in Correctness workshop blog
  Articles/Blog/2022-02-sc21-correctness-workshop.md
Labels: content: blog, content: updates, preview

#1288 Create hpcbp-063-temporalanalysis.md
  Events/hpcbp-063-temporalanalysis.md
Labels: content: event

#1285 Reformat the interview portion to our house style
  Articles/Blog/InclusiveLanguageCodeUpdateExample.md
Labels: content: blog, content: updates, preview

#1284 WoSSS blog
  Articles/Blog/2022-04-wosss-workshop-series.md
Labels: content: blog, preview

#1291 Debugging missing contributor
  Articles/Blog/2022-04-wosss-workshop-series.md
Labels: content: blog, content: updates, preview

#1292 To test when first author lacks GH profile
  Articles/Blog/2022-04-wosss-workshop-series.md
Labels: content: blog, content: updates, preview

#1295 Fixing typos
  Articles/Blog/2022-04-wosss-workshop-series.md
Labels: content: blog, content: updates

#1297 Add events for ISC22, PASC22, and DiveRSE May 2022
  Events/2022-05-diverse-turner.md
  Events/2022-05-isc-sw-events.md
  Events/2022-06-pasc-sw-events copy.md
Labels: content: event, preview

#1298 Oops, forgot to update the article title with the webinar title
  Events/2022-05-diverse-turner.md
Labels: content: event, content: updates

#1296 CC: Update and transtion "Git Tutorial and Reference Collection" to bssw.io site article (#1283)
  CuratedContent/GitTutorialAndReferenceCollection.md
Labels: content: curated, preview

#1302 Update hpcbp-webinars-cc.md
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1301 Create 2022-05-ECP22-BOF.md
  Events/2022-05-ECP22-BOF.md
Labels: content: event, preview

#1286 User stories blog
  Articles/Blog/2022-04-user-stories.md
Labels: content: blog, preview

#1310 Update and rename 2022-06-pasc-sw-events copy.md to 2022-06-pasc-sw-e…
  Events/2022-06-pasc-sw-events.md
Labels: content: event, content: updates, preview

#1309 Webinar on Mentorship
  Events/2022-hpc-workforcedevel-webinar-mentor.md
Labels: content: event, preview

#1311 Update carousel for April digest
  Site/Homepage.md
Labels: preview

#1312 Update 2022-hpc-workforcedevel-webinar-mentor.md
  Events/2022-hpc-workforcedevel-webinar-mentor.md
Labels: content: event, content: updates, preview

#1313 Remove duplicate text from event body
  Events/2022-05-ECP22-BOF.md
Labels: content: event, content: updates, preview

#1314 Minor updates to text of blog article
  Articles/Blog/2022-04-user-stories.md
Labels: content: blog, content: updates, preview

#1315 Make sub-titles smaller in cc article
  CuratedContent/GitTutorialAndReferenceCollection.md
Labels: content: curated, content: updates, preview
