Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-11, with the labels that each got.

#1485 Fixing carousel issue
  Site/Homepage.md
Labels: content: updates, preview

#1478 More updates to bssw_styling_common documentation
  docs/pages/bssw/bssw_styling_common.md
Labels: scope: site-internal, type: documentation

#1460 Correct Broken links bssw.io (set #4)
  Articles/Blog/ATPESC.md
Labels: content: updates, preview

#1486 Removed dead links (Oct 2022 scan)
  Articles/Blog/2020-11-PSIP4HDF5.md
  Articles/Blog/2021-07-BSSwFellows21.md
  Articles/Blog/ApolloGuidanceComputerPart1.md
  Articles/Blog/ConnectingSoftwareDevelopers.md
  Articles/Blog/ContinuousTechnologyRefreshment.md
  Articles/Blog/ResearchSoftwareEngineerANewCareerTrack.md
  Articles/Blog/URSSI.md
  Articles/Blog/WhenNotToWriteAutomatedTests.md
  Articles/ShortArticles/BSSwFellows2018ProjectsAndPerspectives.md
  Articles/ShortArticles/UserStories.md
  Articles/WhatIs/WhatIsDebugging.md
  CuratedContent/IDEsForScientificSoftware.md
  CuratedContent/InclusiveTermsResources.md
  Events/WSSSPE5.1.md
  Events/eScienceTutorial.md
Labels: content: updates, preview

#1483 Initial cut at Amy Roberts blog post
  Articles/Blog/2022-11-visual-git.md
  images/VersionControl_SomeMomentsAreWorthKeeping_Web.jpg
Labels: content: blog, preview

#1490 CC: Implementing Lean Software Development (#1488)
  CuratedContent/ImplementingLeanSoftwareDevelopment.md
Labels: content: curated, preview

#1491 Reset publish date for ImplementingLeanSoftwareDevelopment.md
  CuratedContent/ImplementingLeanSoftwareDevelopment.md
Labels: content: curated, preview

#1493 Create hpcbp-070-labnotebooks.md
  Events/hpcbp-070-labnotebooks.md
Labels: content: event

#1492 Training Materials @ LLNL curated article
  CuratedContent/TrainingMaterialsforParallelComputingatLLNL.md
Labels: content: curated, preview

#1494 November webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1498 Fixing typo in cc
  CuratedContent/ImplementingLeanSoftwareDevelopment.md
Labels: content: curated, content: updates, preview

#1499 November carousel
  Site/Homepage.md
Labels: content: updates, preview
