Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-12, with the labels that each got.

#1334 Initial CC for on-line, fundamental language and api refs
  Articles/ShortArticles/TelecomToolsForRemoteWork.md
  CuratedContent/LanguageReferenceOnLine.md
Labels: content: curated, preview

#1503 Update publication date
  CuratedContent/LanguageReferenceOnLine.md
Labels: content: curated, content: updates, preview

#1504 fix spelling, typos, parallelism paragraph
  CuratedContent/LanguageReferenceOnLine.md
Labels: preview

#1506 January HPC-BP webinar
  Events/hpcbp-071-oceanscapes.md
Labels: content: event

#1505 Create 2022-12-MutualOwnershipInRSE.md
  Articles/Blog/2022-12-MutualOwnershipInRSE.md
Labels: content: blog, preview

#1508 Tweak references to work better
  Articles/Blog/2022-12-MutualOwnershipInRSE.md
Labels: content: blog, content: updates, preview

#1509 Agile Project Management CC article #1489
  CuratedContent/AgileProjectManagement.md
Labels: content: curated, preview

#1511 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates
