Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-01, with the labels that each got.

#1171 Create 2022-01-2022BSSwFellowshipAnnouncement.md
  Articles/Blog/2022-01-2022BSSwFellowshipAnnouncement.md
Labels: preview

#1173 Update 2022-01-2022BSSwFellowshipAnnouncement.md
  Articles/Blog/2022-01-2022BSSwFellowshipAnnouncement.md
Labels: preview

#1198 2021 highlights blog
  Articles/Blog/BSSwHighlights2021.md
Labels: content: blog, preview

#1174 Update InclusiveTermsResources.md
  CuratedContent/InclusiveTermsResources.md
Labels: content: updates, preview

#1211 Update 2022-01-2022BSSwFellowshipAnnounce.md
  Articles/Blog/2022-01-2022BSSwFellowshipAnnounce.md
Labels: preview

#1212 Update BSSwHighlights2021.md
  Articles/Blog/BSSwHighlights2021.md
Labels: content: blog, preview

#1216 Update 2022-01-2022BSSwFellowshipAnnounce
  Articles/Blog/2022-01-2022BSSwFellowshipAnnounce.md
Labels: preview

#1231 EB docs: Updates to BSSw.io Editorial Board Composition, Responsibilities and Expectations
  docs/pages/bssw/bssw_teamresponsibilites.md
Labels: scope: site-internal

#1232 EB docs: More Updates to BSSw.io Editorial Board Composition, Responsibilities and Expectations
  docs/pages/bssw/bssw_teamresponsibilites.md
Labels: scope: site-internal

#1225 CC: Ten Year Reproducibility Challenge
  CuratedContent/TenYearReproducibilityChallenge.md
Labels: content: curated, preview

#1233 Update TenYearReproducibilityChallenge.md
  CuratedContent/TenYearReproducibilityChallenge.md
Labels: content: curated, preview

#1226 CC: What Every Computer Scientist Should Know About Floating-Point Arithmetic (#950)
  CuratedContent/WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmetic.md
Labels: content: curated, preview

#1235 Update WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmet…
  CuratedContent/WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmetic.md
Labels: content: curated, preview

#1236 Update webinar event for new date
  Events/hpcbp-060-wrongway.md
Labels: content: event, content: updates, preview

#1237 Create 2021-03-siam-pp22.md
  Events/2021-03-siam-pp22.md
Labels: content: event, preview

#1156 Add 'The Developers Certificate of Origin' short article (#523)
  Articles/ShortArticles/TheDeveloperCertificateOfOrigin.md
Labels: content: article, preview

#1238 Correct filename and change from hybrid to virtual only
  Events/2021-02-siam-cse21.md
  Events/2022-03-siam-pp22.md
Labels: content: event

#1240 Update carousel for jan digest
  Site/Homepage.md
Labels: scope: site-internal, preview

#1239 Updates to January CC articles
  CuratedContent/TenYearReproducibilityChallenge.md
  CuratedContent/WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmetic.md
Labels: content: curated, preview
