Repository betterscientificsoftware/bssw.io, pull requests merged in 2022-07, with the labels that each got.

#1378 Adding new topics
  Site/Topics/Performance.md
  Site/Topics/Planning.md
Labels: scope: site-internal, preview, type: new topic

#1379 Add topic 'Peer Code Review' (#777)
  Site/Topics/Reliability.md
Labels: scope: site-internal, preview

#1382 Add 'peer code review' to a few articles (#777)
  Articles/Blog/AcceptingHigh-QualitySoftwareContributionsAsScientificPublications.md
  Articles/Blog/CommunityOfPracticeAroundPeerReview.md
  Articles/ShortArticles/CodingConventions.md
  Articles/ShortArticles/PullRequestSizeConsiderations.md
  CuratedContent/ConstructiveCodeCritique.md
  Events/eScienceTutorial.md
Labels: scope: site-internal, preview

#1380 Create 2022-07-vive-la-difference-rse.md
  Articles/Blog/2022-07-vive-la-difference-rse.md
Labels: content: blog, preview

#1384 Create 2022-11-rse-hps-workshop.md
  Events/2022-11-rse-hps-workshop.md
Labels: content: event, preview

#1385 August webinar
  Events/hpcbp-066-strategies4proposalwriting.md
Labels: content: event

#1386 Update with July webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1388 Updating the dates
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: preview

#1387 blog article
  Articles/Blog/2022-07-BSSwFellows2021.md
Labels: preview

#1389 Update FellowshipsOverview.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: content: updates, preview

#1390 Update Homepage.md
  Site/Homepage.md
Labels: content: updates, preview
