Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-08, with the labels that each got.

#1763 Bsswf 2024 open
  Articles/Blog/2023-08-BSSwFellowsOpen2023.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: external contribution

#1776 September webinar
  Events/hpcbp-078-simplifyingscipy.md
Labels: content: event, preview

#1716 Blog post: Long-term software gardening strategies for cultivating scientific development ecosystems
  Articles/Blog/2023-08-Software-Gardening.md
  images/Blog_2307_640px-Schuurtje_aan_het_water,_RP-T-1890-A-2252.jpeg
  images/Blog_2307_829px-Trellis_MET_DT255077-cropped.jpg
  images/Blog_2307_Caricatures_of_paintings_by_Daubigny_and_others_in_Le_Salon_Pour_Rire_MET_DP824536-cropped.jpeg
  images/Blog_2307_The_Gardener_MET_DT1499.jpeg
  images/Blog_2307_software_growth_and_decay_through_time.png
  images/Blog_2307_software_wilderness_vs_software_garden.png
Labels: content: blog, preview, external contribution

#1782 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1783 Update team member page
  Site/About.md
Labels: scope: site-internal, preview

#1784 Create DeveloperDocumentingDoneRight.md
  CuratedContent/DeveloperDocumentingDoneRight.md
Labels: content: curated, preview

#1785 Delete Articles/Blog/tests directory
  Articles/Blog/tests/BlogArticleSkeletonB.md
  Articles/Blog/tests/BlogArticleSkeletonC.md
  Articles/Blog/tests/BlogArticleSkeletonD.md
  Articles/Blog/tests/BlogArticleSkeletonE.md
  Articles/Blog/tests/BlogArticleSkeletonF.md
  Articles/Blog/tests/SkeletonBlogArticleG.md
  Articles/Blog/tests/SkeletonBlogArticleH.md
Labels: scope: site-internal

#1786 Update topics in some articles
  CuratedContent/CodedBiasMovie.md
  CuratedContent/Intersect-training.md
  CuratedContent/MakingSoftwareWhatReallyWorksAndWhyWeBelieveIt.md
  CuratedContent/OpenSourceGuides.md
  CuratedContent/SoftwareSustainabilityInstituteGuides.md
  Events/SORSE2020.md
  Events/Workshop.RSE-HPE2020.md
Labels: content: updates, preview

#1787 Update topic to software sustainability
  Articles/Blog/2020-03-maintainers-drive-sustainability.md
  Articles/Blog/2022-04-wosss-workshop-series.md
  Articles/Blog/BestiaryOfScarySwProjects.md
  Articles/Blog/CommunityOfPracticeAroundPeerReview.md
  Articles/Blog/DataDrivenSustainability.md
  Articles/Blog/MakingOpenSourceResearchSwVisible.md
  Articles/Blog/SoftwareSustainabilityMolecularSciences.md
  Articles/Blog/URSSI.md
  Articles/WhatIs/WhatIsSustainability.md
  CuratedContent/OSSSustainabilityResources.md
  CuratedContent/SoftwareSustainabilityInstitute.md
  CuratedContent/SoftwareSustainabilityInstituteGuides.md
  Events/Workshop.BoKSS21.md
  Events/hpcbp-021-softwaresustainability.md
Labels: content: updates, preview

#1789 Update About.md
  Site/About.md
Labels: content: updates, preview

#1781 CC: First draft of Google Guidance on Code Review (#1759)
  CuratedContent/GoogleGuidanceOnCodeReview.md
Labels: content: curated, preview

#1761 Vahi blog
  Articles/Blog/2023-08-containers-workflows.md
  images/2023-08-pegasus-container-execution-model.png
Labels: content: blog, preview, external contribution

#1794 August carousel
  Site/Homepage.md
Labels: content: updates, preview

#1796 Create 2023-BSSw-Fellowship-Applications.md
  Events/2023-BSSw-Fellowship-Applications.md
Labels: content: event

#1801 Change publish preview to publish no
  Articles/Blog/Kitchen-sink-TEST-blog.md
  Articles/Blog/comment-test.md
  CuratedContent/10-number-test.md
  CuratedContent/RubberDuckDebugging.md
  CuratedContent/kitchen-sink-TEST.md
Labels: scope: site-internal, content: updates, type: test content
