Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-09, with the labels that each got.

#1802 Add CC for Smart Libraries paper
  CuratedContent/SmartLibs.md
Labels: content: curated, preview

#1807 October webinar
  Events/hpcbp-079-hacc.md
Labels: content: event, preview

#1756 Summary blog post about "I/O Sleuthing" presentation
  Articles/Blog/2023-09-io-storage-characterization.md
Labels: content: blog, preview, external contribution

#1809 slides for BSSwF Q&A
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: external contribution

#1812 update resources links for 2022 fellows
  Site/BSSwFellowshipProgram/People/AroraRi.md
  Site/BSSwFellowshipProgram/People/LathamRo.md
  Site/BSSwFellowshipProgram/People/MajiAm.md
  Site/BSSwFellowshipProgram/People/VahiKaran.md
Labels: external contribution

#1818 Updated with September webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1820 Add link to conference summary for ACM REP 2023
  Articles/Blog/2023-06-acm-rep.md
Labels: content: blog, content: updates, preview

#1819 BSSwF blog post
  Articles/Blog/2023-09-bsswf-blog-post.md
Labels: content: blog, preview, external contribution

#1822 CC on MaintainersDEIResourceHub
  CuratedContent/AllInMaintainersDEIResourceHub.md
Labels: content: curated, preview

#1823 September Carousel
  Site/Homepage.md
Labels: content: updates, preview

#1826 Fix a broken Markdown link in FellowshipsOverview.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: external contribution

#1827 Title Sentence Case change
  CuratedContent/SmartLibs.md
Labels: content: curated, content: updates, preview

#1828 Update event location guidance
  docs/pages/bssw/bssw_styling_event.md
Labels: scope: site-internal, type: documentation

#1829 2024 bsswf application closed
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: external contribution
