Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-04, with the labels that each got.

#1611 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1609 What is In-Person learning
  Articles/WhatIs/WhatIsInPersonLearning.md
Labels: content: whatis, preview

#1608 What is Online Learning
  Articles/WhatIs/WhatIsOnlineLearning.md
Labels: content: whatis, content: updates, preview

#1603 Project management: A surefire way to kill your software product
  CuratedContent/2023-04-ProjectMgmtKillYourSoftware.md
Labels: content: curated, preview

#1610 Reproducibility and Replicability initiatives article
  CuratedContent/ReproducibilityInitiatives.md
Labels: content: curated, preview

#1619 Add RSE as a topic to better collaboration category
  Site/Topics/Collaboration.md
Labels: scope: site-internal, preview

#1596 EB docs: pinned metadata and document creation of whatis files
  docs/pages/bssw/bssw_add_new_topics.md
  docs/pages/bssw/bssw_content_metadata.md
Labels: scope: site-internal

#1620 Add "Research Software Engineers" metadata tag
  Articles/Blog/2020-01-usrse.md
  Articles/Blog/2022-03-sc21-rse-workshop.md
  Articles/Blog/2022-07-vive-la-difference-rse.md
  Articles/Blog/2022-12-MutualOwnershipInRSE.md
  Articles/Blog/2023-02-anatomy-rse-team.md
  Articles/Blog/MakingOpenSourceResearchSwVisible.md
  Articles/Blog/RSE-HPC-2020Workshop.md
  Articles/Blog/RseStoriesPodcast.md
  CuratedContent/NationalRSEOrgs.md
  Events/2023-10-RSE_Workshop23.md
  Events/2023-usrse-conf.md
Labels: content: updates, preview

#1617 Took a whack at some revisions
  Articles/WhatIs/WhatAreConferencesAndWorkshops.md
Labels: content: whatis, preview

#1589 Julia for BSSw blog article first draft
  Articles/Blog/2023-03-Julia_for_BSSw.md
  images/Blog_2303_julia.svg
  images/Blog_2303_julia_pluto.png
  images/Blog_2303_julia_value_proposition.png
Labels: content: blog, preview, external contribution

#1626 Add resources to in-person topic
  Events/2023-07-intersect-bootcamp.md
  Events/ATPESC2023.md
Labels: type: bug, content: updates, preview

#1615 What Is: What Are Conferences And Workshops
  Articles/WhatIs/WhatAreConferencesAndWorkshops.md
Labels: content: whatis, preview

#1629 May webinar
  Events/hpcbp-074-qmcpack.md
Labels: content: event, preview

#1635 Rename maintainers_guide.md to CollectionOSSMaintainerGuides.md
  CuratedContent/CollectionOSSMaintainerGuides.md
Labels: content: updates, preview

#1661 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1600 Create lowndes_fellowship_post.md
  Articles/Blog/2023-04-lowndes-fellowship-post.md
  images/Blog_openscapes-series-bookdown.png
  images/Blog_openscapes-series-quarto.png
  images/Blog_openscapes_grassland_1500px.png
Labels: content: blog, preview, external contribution

#1666 Meta data in hpcbp-073-copa.md
  Events/hpcbp-073-copa.md
Labels: type: bug, preview

#1667 Fix DOI URL base in WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmetic.md
  CuratedContent/WhatEveryComputerScientistShouldKnowAboutFloatingPointArithmetic.md
Labels: content: updates, preview

#1668 CC on ReproducibilityInitiatives.md
  CuratedContent/ReproducibilityInitiatives.md
Labels: content: updates, preview

#1622 Remove google form from how-to-contribute webpage
  Site/HowToContribute.md
Labels: scope: site-internal, preview
