Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-05, with the labels that each got.

#1671 Event on DiveRSE talk
  Events/2023-05-diverse-horsfall.md
Labels: content: event, preview

#1674 Update statistics for OpenSSF Best Practices Badge site
  Articles/ShortArticles/OpenssfBestPracticesBadgeProgram.md
Labels: content: article

#1659 What is Software Process Improvement
  Articles/WhatIs/WhatIsSoftwareProcessImprovement.md
Labels: content: whatis, preview

#1675 Reviewer Suggestions for the better is worse curated content
  CuratedContent/WorseIsBetter.md
Labels: content: updates, preview

#1676 RSE Stories is now Developer Stories
  CuratedContent/BloggersWorthFollowing.md
Labels: content: curated, content: updates

#1595 Add april developer survey post
  Articles/Blog/2023-04-developer-surveys.md
  images/Blog_2304_DeveloperSurvey.png
Labels: content: blog, preview, external contribution

#1673 Initial draft CC for worse is better
  CuratedContent/WorseIsBetter.md
Labels: content: curated, preview

#1679 revisions to WhatIs on PeerCodeReview
  Articles/WhatIs/WhatIsPeerCodeReview.md
Labels: content: curated, preview

#1681 June webinar
  Events/hpcbp-075-openssf.md
Labels: content: event, preview

#1683 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1684 Update LeadershipScientificSoftwareTownHallMeetings.md
  Events/LeadershipScientificSoftwareTownHallMeetings.md
Labels: content: event, content: updates, preview

#1678 'What is Peer Code Review' article
  Articles/WhatIs/WhatIsPeerCodeReview.md
Labels: content: whatis, preview

#1686 Create PersistentCodeIdentifiers.md
  CuratedContent/PersistentCodeIdentifiers.md
Labels: content: curated, preview

#1690 Blog article for CiSE RSE special issue
  Articles/Blog/2023-05-cise-rse-issues.md
  images/Blog_2305_CiSEIssue_1125x432.png
Labels: content: blog, preview

#1677 CC on bssw-tutorials.md
  CuratedContent/bssw-tutorials.md
Labels: content: curated, preview

#1692 New Event on Optimizing-IO
  Events/2023-06-Optimizing-IO.md
Labels: content: event, preview
