Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-11, with the labels that each got.

#1863 Dealing with SC23's bad behavior
  Events/2023-11-sc23-sw-events.md
Labels: content: event, content: updates

#1867 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1854 Thanksgiving Article Nov 2023
  Articles/Blog/EditorialThanks-2023.md
Labels: content: blog, preview

#1868 CC: SOLID Design Principles (#1845)
  Articles/Blog/2023-10-fear-of-large-codes.md
  CuratedContent/SolidDesignPrinciples.md
Labels: content: curated, preview

#1881 November carousel
  Site/Homepage.md
Labels: content: updates, preview

#1882 Assign tracks to blogs (Rinku)
  Articles/Blog/AcceptingHigh-QualitySoftwareContributionsAsScientificPublications.md
  Articles/Blog/AdoptingCIforEXAALT.md
  Articles/Blog/ApolloGuidanceComputerPart1.md
  Articles/Blog/ApolloGuidanceComputerPart2.md
  Articles/Blog/ApolloGuidanceComputerPart3.md
  Articles/Blog/BSSwFellowsAnnouncement.md
  Articles/Blog/BSSwFellowsAnnouncement2019.md
  Articles/Blog/BSSwFellowshipAnnouncement2020.md
  Articles/Blog/BSSwFellowshipApplicationsOpen.md
  Articles/Blog/BSSwFellowshipApplicationsOpen2018.md
  Articles/Blog/BSSwFellowshipApplicationsOpen2019.md
  Articles/Blog/BSSwFellowshipApplicationsOpen2020.md
  Articles/Blog/BSSwFellowshipApplicationsOpen2021.md
  Articles/Blog/BSSwFellowshipKatzIntroduction.md
  Articles/Blog/BSSwFellowshipProgramFAQ.md
  Articles/Blog/BSSwHighlights2018.md
  Articles/Blog/BSSwHighlights2019.md
  Articles/Blog/BSSwHighlights2020.md
  Articles/Blog/BSSwHighlights2021.md
  Articles/Blog/BSSwHighlights2022.md
  Articles/Blog/BSSwSiteLaunch2017.md
  Articles/Blog/BestiaryOfScarySwProjects.md
  Articles/Blog/BetterScienceThroughSoftwareTesting.md
  Articles/Blog/BlogArticleSkeletonA.md
  Articles/Blog/BuildingCommunitySoftwarePolicies.md
  Articles/Blog/BuildingTrustedScientificSoftware.md
  Articles/Blog/CanYouTeachAnOldCodeNewTricks.md
  Articles/Blog/CommunityOfPracticeAroundPeerReview.md
  Articles/Blog/ConnectingSoftwareDevelopers.md
  Articles/Blog/ContinuousTechnologyRefreshment.md
  Articles/Blog/Covid19WorkstationCleanliness.md
  Articles/Blog/DataDrivenSustainability.md
  Articles/Blog/EditorialThanks-2023.md
  Articles/Blog/Fellows2018Contributions.md
  Articles/Blog/Fellows2019Contributions.md
  Articles/Blog/FlashPsipProcess.md
  Articles/Blog/GinkgoSustainableSoftwareInAnAcademicEnvironment.md
  Articles/Blog/GiveThanks.md
  Articles/Blog/HelloCseWorld.md
  Articles/Blog/ImproveUserConfidenceInSwUpdates.md
Labels: content: updates, preview

#1887 Create HowToWriteGitCommit.md
  CuratedContent/HowToWriteGitCommit.md
Labels: content: updates, preview
