Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-07, with the labels that each got.

#1729 Update with final information about part 2 of special issue
  Articles/Blog/2023-05-cise-rse-issues.md
Labels: content: blog, content: updates

#1728 Event: Workshop on Correctness and Reproducibility for Climate and Weather Software
  Events/2023-repro-climate.md
Labels: content: event, preview

#1722 Add Turing Way CC
  CuratedContent/TuringWay.md
Labels: content: curated, preview

#1730 Contributing a blog
  Articles/Blog/2023-07-optimizing_io.md
  images/optimizing_io_hero_image.png
Labels: preview, external contribution

#1737 bernhold hpcbp updates
  CuratedContent/hpcbp-webinars-cc.md
  Events/hpcbp-077-ci4hpc.md
Labels: content: curated, content: event, content: updates

#1747 Add correctness @ sc23 event
  Events/2023-sc23-correctness.md
Labels: content: event, preview

#1696 Create Science as Amateur Software Development
  CuratedContent/ScienceAsAmateurSoftwareDevelopment.md
Labels: content: curated, preview

#1748 Grammar and typos in cc
  CuratedContent/TuringWay.md
Labels: content: curated, content: updates, preview

#1738 2022 BSSw Fellows Perspectives blog
  Articles/Blog/2023-07-BSSwFellows2022.md
  images/Blog_2307_BSSwFellows.png
Labels: content: blog, preview, external contribution

#1750 July carousel updates
  Site/Homepage.md
Labels: content: updates, preview

#1752 Fixing date/names in events and blogs
  Articles/Blog/2021-05-experiences-bssw-community-bof.md
  Events/2022-11-sc22-sw-events.md
Labels: content: event, content: updates, preview
