Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-02, with the labels that each got.

#1528 Blog on "Lessons learned transitioning from experimental to computational sciences"
  Articles/Blog/LessonsTransitioningExptoCS.md
  images/Blog_2301_Bell_LabNotesLt.png
Labels: content: blog, preview

#1535 INTERSECT training material website
  CuratedContent/Intersect-training.md
Labels: content: curated, preview

#1537 Create 2023-02-Inclusivescientificmeetings.md
  CuratedContent/2023-02-Inclusivescientificmeetings.md
Labels: content: curated, preview

#1539 Create Event for Collective Learning Survey
  Events/2023-02-collective-learning-survey.md
Labels: content: event, preview

#1541 March webinar
  Events/hpcbp-072-warpx.md
Labels: content: event, preview

#1543 Create 2023-02-siam-cse23.md
  Events/2023-02-siam-cse23.md
Labels: content: event, preview

#1550 Trying to restore CSE23 event
  Events/2023-02-siam-cse23.md
Labels: content: event, preview

#1538 Matthew Bluteau's blog article
  Articles/Blog/2023-02-anatomy-rse-team.md
  images/2023-02-Interior-of-the-JET-tokamak-2.jpg
  images/2023-02-RSE_Team_Activities.png
  images/Blog_2302_JET.png
  images/Blog_2302_JETplasma.png
  images/Blog_2302_RSE_Team_Activities.png
Labels: content: blog, preview

#1553 Feb 2023 webpage carousel
  Site/Homepage.md
Labels: content: updates, preview
