Repository betterscientificsoftware/bssw.io, pull requests merged in 2023-01, with the labels that each got.

#1520 Create BSSwHighlights2022.md
  BSSwHighlights2022.md
Labels: content: blog, preview

#1521 Rename BSSwHighlights2022.md to Articles/Blog/BSSwHighlights2022.md
  Articles/Blog/BSSwHighlights2022.md
Labels: preview

#1522 Unpublish 2022 highlights blog
  Articles/Blog/BSSwHighlights2022.md
Labels: content: blog

#1524 Final highlight blog highlights for 2022
  Articles/Blog/BSSwHighlights2022.md
Labels: content: blog, preview

#1523 Create ATPESC23.md
  Events/ATPESC23.md
Labels: content: event, preview

#1525 adding links to artifacts for 2021
  Site/BSSwFellowshipProgram/People/García-Reyes2021.md
  Site/BSSwFellowshipProgram/People/Leung2021.md
  Site/BSSwFellowshipProgram/People/Million2021.md
  Site/BSSwFellowshipProgram/People/RobertsAmy_2021.md
Labels: preview

#1527 Updated with latest webinar
  CuratedContent/hpcbp-webinars-cc.md
Labels: content: curated, content: updates

#1531 Event for community BOF for BSSw fellows
  Events/Events/2023-02-ECP23-BOF-BSSw-fellowship.md
Labels: content: event, preview

#1530 Event for ECP Community BOF - bssw.io
  Events/2023-02-ECP23-BOF-BSSw.md
Labels: content: event, preview

#1529 CISE Special issue on CW21
  CuratedContent/CiseCollegevilleWkship2022.md
Labels: content: curated, preview

#1533 Grammar changes to articles highlighted in the Jan digest
  CuratedContent/CiseCollegevilleWkship2022.md
  Events/2023-02-ECP23-BOF-BSSw-fellowship.md
  Events/2023-02-ECP23-BOF-BSSw.md
Labels: content: updates, preview

#1534 Jan carousel and grammar edits
  Events/2023-02-ECP23-BOF-BSSw-fellowship.md
  Events/2023-02-ECP23-BOF-BSSw.md
  Site/Homepage.md
Labels: content: updates, preview
