Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-07, with the labels that each got.

#2119 bsswf: 2023 artifacts, myra and nicole
  Site/BSSwFellowshipProgram/People/2023-F-Brewer.md
  Site/BSSwFellowshipProgram/People/2023-F-Cohen.md
  Site/BSSwFellowshipProgram/People/2023-F-Kershaw.md
Labels: external contribution

#2120 BSSwF 2023 Class Perspectives blog posts
  Articles/Blog/2023-09-secure-sci-software-dev.md
  Articles/Blog/2023-12-2024BSSwFellowshipAnnounce.md
  Articles/Blog/2024-04-CodeReview-Fellowship.md
  Articles/Blog/2024-05-communicating-design.md
  Articles/Blog/2024-06-generating-SBOMs.md
  Articles/Blog/2024-07-BSSwFellows2023.md
  Site/BSSwFellowshipProgram/People/2023-F-Doerfert.md
  Site/BSSwFellowshipProgram/People/2023-F-Hart.md
  Site/BSSwFellowshipProgram/People/2023-F-Mudafort.md
Labels: content: blog, preview, external contribution

#2123 Create Event for BSSwF Workshop on Team Learning
  Events/2024BSSwF_team-learning-workshop.md
Labels: content: event, preview, external contribution

#2124 Update CCs
  CuratedContent/TuringWay.md
  CuratedContent/WordsMatter.md
Labels: content: updates, preview

#2121 Add HPSF blog entry
  Articles/Blog/2024-07-HPSF-launch.md
  images/Blog_hpsf_logo.png
  images/Blog_hpsf_structure.png
Labels: content: blog, preview, external contribution

#2125 Update Homepage.md Carousel for Jul 2024
  Site/Homepage.md
Labels: content: updates, preview

#2126 Update Announcements.md
  Site/Announcements/Announcements.md
Labels: content: updates, preview

#2122 BSSwF 2025 opening aug 15
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: external contribution
