Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-01, with the labels that each got.

#1951 Feedback to Pat's WhatIsPersonalProductivity.md
  Articles/WhatIs/WhatIsPersonalProductivity.md
Labels: content: updates

#1962 BSSwF: add nitin resources
  Site/BSSwFellowshipProgram/People/SukhijaNi.md
Labels: preview, external contribution

#1944 Add What is Personal Productivity
  Articles/WhatIs/WhatIsPersonalProductivity.md
Labels: content: whatis, preview

#1934 Blog for Jan
  Articles/Blog/BSSwHighlights2023.md
  images/Blog_2401_YIR.png
Labels: content: blog, preview

#1960 Add github links to authors names for the bssw editorial teams thanksgiving article
  Articles/Blog/EditorialThanks-2023.md
Labels: content: updates, preview

#1964 Add Publish date to cc
  CuratedContent/HowToWriteGitCommit.md
Labels: content: updates, preview

#1943 Propose alternative WhatIsInclusivity
  Articles/WhatIs/WhatIsInclusivity.md
  Site/Topics/Collaboration.md
Labels: content: whatis, preview

#1968 Mid-Jan carousel update
  Site/Homepage.md
Labels: content: updates, preview

#1973 Update DiscontinuingSoftwareProjects.md
  Articles/Blog/DiscontinuingSoftwareProjects.md
Labels: content: updates, preview

#1974 Jan carousel
  Site/Homepage.md
Labels: content: updates, preview

#1976 Bsswf reorg2
  Site/BSSwFellowshipProgram/People/2019-F-Niemeyer.md
  Site/BSSwFellowshipProgram/People/2024-HM-Georgiadou.md
  Site/BSSwFellowshipProgram/People/2024-HM-Marquez.md
  Site/BSSwFellowshipProgram/People/2024-HM-Paine.md
  Site/BSSwFellowshipProgram/People/2024-HM-Ross.md
  Site/BSSwFellowshipProgram/People/2024-HM-Scarpino.md
  Site/BSSwFellowshipProgram/People/2024-HM-Scourtas.md
Labels: external contribution

#1977 Create 2024-15-HPCCultureIdentity.md
  Events/2024-02-HPCCultureIdentity.md
Labels: content: event, preview, external contribution

#1946 HiRSE CC article
  CuratedContent/HiRSESeminarSeries.md
Labels: content: curated, preview, external contribution

#1978 Create event for HiRSE webinar 25 in Feburary
  Events/hirse-025-2024-02.md
Labels: content: event, preview, external contribution

#1980 Change heading level
  Events/2024-04-iss.md
Labels: content: event, content: updates

#1983 Update Jan carousel
  Site/Homepage.md
Labels: content: updates, preview
