Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-10, with the labels that each got.

#2169 bsswf25 applications closed
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
  Site/Homepage.md
Labels: external contribution

#2151 Add CC for Numerical Recipes online
  CuratedContent/NumericalRecipiesOnline.md
Labels: content: curated, preview

#2168 Update IDEAS SoftwareProductivityProject.md
  CuratedContent/IDEASSoftwareProductivityProject.md
Labels: content: updates, preview

#2171 add event
  Events/2024-10-reproduciblehpc.md
Labels: content: event, preview

#2174 Create 2024-11-sc24-sw-events.md
  Events/2024-11-sc24-sw-events.md
Labels: content: event, preview

#2175 Correct timezone
  Events/2024-11-sc24-sw-events.md
Labels: content: event, content: updates

#2177 Create event for EMBL-EBI webinar
  Events/2024-10-whats-next.md
Labels: content: event, preview

#2178 Drew Paine UX blog
  Articles/Blog/2024-10-ux.md
Labels: content: blog, preview

#2180 blog post for practical reproducibility
  Articles/Blog/2024-10-practical-reproducibility.md
  Events/2024-10-reproduciblehpc.md
  Site/Homepage.md
Labels: preview, external contribution

#2182 October carousel
  Site/Homepage.md
Labels: content: updates, preview

#2186 Update paper links
  CuratedContent/IDEASSoftwareProductivityProject.md
Labels: content: curated, content: updates, preview
