Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-11, with the labels that each got.

#2190 S3C metrics workshop blog article
  Articles/Blog/2024-11-s3c-metrics.md
  images/2024-11-s3c-metrics-fig1.png
  images/2024-11-s3c-metrics-fig2.png
Labels: content: blog, preview

#2193 Recreate PR for metrics blog
  Articles/Blog/2024-11-s3c-metrics.md
  images/2024-11-s3c-metrics-fig1.png
  images/2024-11-s3c-metrics-fig2.png
Labels: content: blog, preview

#2179 Initial draft CC for 3 P's CFD article
  CuratedContent/ReviewCFDPerformancePortability.md
Labels: content: curated, preview

#2196 Update editorial team's thankgiving article for 2024
  Articles/Blog/EditorialThanks-2023.md
Labels: content: blog, content: updates, preview

#2197 Update IDEASSoftwareProductivityProject.md
  CuratedContent/IDEASSoftwareProductivityProject.md
Labels: content: curated, content: updates, preview

#2199 Event for surveys from US-RSE newsletter
  Events/2024-11-survey-roundup.md
Labels: content: event, preview

#2202 Announcement for URSSI Early-Career Fellowship
  Events/2025-01-urssi-fellowship.md
Labels: content: event, preview

#2200 Cross-post of de-RSE RSE competencies blog post
  Articles/Blog/2024-11-rse-competencies.md
Labels: content: blog, preview

#2207 Update to link to F1000Research paper
  Articles/Blog/2024-11-rse-competencies.md
Labels: content: blog, content: updates, preview
