Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-05, with the labels that each got.

#2076 Add CC for portability is reliability
  CuratedContent/PortabilityIsReliability.md
Labels: content: curated, preview

#2083 Minor corrections to hpcbp-event action
  .github/workflows/hpcbp-event-pr.yml
Labels: scope: site-internal

#2032 BSSwF blog post - visually communicating design
  Articles/Blog/2024-05-communicating-design.md
  images/Blog_2024_class_metamodel.png
  images/Blog_2024_perspectives.png
  images/Blog_2024_sequence_metamodel.png
  images/hero-design.png
Labels: content: blog, preview, external contribution

#2087 Create 2025-01-hicss.md
  Events/2025-01-hicss.md
Labels: content: event, preview

#2086 Add missing whatis articles
  Articles/WhatIs/WhatIsBigData.md
  Articles/WhatIs/WhatIsCloudComputing.md
  Articles/WhatIs/WhatIsProgrammingLanguage.md
Labels: content: whatis, preview

#2088 CC on DebunkingTheMyth
  CuratedContent/DebunkingMyth.md
Labels: content: curated, preview

#2084 Collection of OSS project cc article
  CuratedContent/CollectionOpenSourceSwProjects.md
Labels: content: curated, preview

#2091 Special permissions are needed to be able to merge a PR in an action
  .github/workflows/hpcbp-cc-pr.yml
Labels: type: bug, scope: site-internal

#2093 Create 2024-06-cass-community-bofs.md
  Events/2024-06-cass-community-bofs.md
Labels: content: event, preview

#2094 Create 2024-07-openscience-rse-school.md
  Events/2024-07-openscience-rse-school.md
Labels: content: event, preview

#2089 CC: Manual Work is a Bug (#1805)
  CuratedContent/ManualWorkIsABug.md
Labels: content: curated, preview

#2002 Rebrand whatis inclusivity doc
  Articles/Blog/2024-05-InclusivityDeepDive.md
  Articles/WhatIs/WhatIsInclusivity.md
Labels: content: blog, preview

#2096 May carousel first draft
  Site/Homepage.md
Labels: content: updates, preview

#2100 Publish day change on wahat-is article.
  Articles/WhatIs/WhatIsInclusivity.md
Labels: content: updates, preview

#2099 Create WordsMatter.md
  CuratedContent/WordsMatter.md
Labels: content: curated, preview
