Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-04, with the labels that each got.

#2063 Actions for dealing with HPC-BP articles
  .github/workflows/hpcbp-cc-pr.yml
  .github/workflows/hpcbp-event-pr.yml
Labels: type: enhancement, scope: site-internal

#2072 Fix bug that probably prevented PRs from getting added to the Content…
  .github/workflows/issue-to-project.yml
Labels: scope: site-internal

#2028 draft of blog article Kershaw code-review
  Articles/Blog/2024-04-CodeReview-Fellowship.md
  images/Howland_Islands_Hermit_Crabs.jpeg
Labels: content: blog, preview, external contribution

#2075 Create 2024-05-isc-sw-events.md
  Events/2024-05-isc-sw-events.md
Labels: content: event, preview

#1961 Add SSE article for ZFP
  Articles/Blog/2024-01-zfp-sse.md
  images/sustain-hero.png
Labels: content: blog, preview, external contribution

#2078 April carousel
  Site/Homepage.md
Labels: preview
