Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-06, with the labels that each got.

#2101 Update deadlines
  Events/2024-usrse-conf.md
Labels: content: event, content: updates

#2104 Update workshop website links
  Events/2024-06-virtual-workshop-on-multiproject-cicd.md
Labels: content: event, content: updates

#2103 Add LLNL HPC Tutorials event
  Events/2024-08-llnl-hpc-tutorials.md
Labels: content: event, preview

#2095 CASS blog article
  Articles/Blog/2024-06-introdcing-cass.md
  images/2024-06-announcing-cass-slide.png
Labels: content: blog, preview

#2111 Add link to BoF slides
  Articles/Blog/2024-06-introducing-cass.md
Labels: content: blog, content: updates

#2040 Draft Blog Post
  Articles/Blog/2024-05-generating-SBOMs.md
Labels: content: blog, preview, external contribution

#2113 Create 2024-07-refactoring-survey.md
  Events/2024-07-refactoring-survey.md
Labels: content: event, preview

#2115 Recreating PR for Bill Hart's blog post
  Articles/Blog/2024-06-generating-SBOMs.md
Labels: content: blog, preview

#2112 June end carousel Homepage.md
  Site/Homepage.md
Labels: content: updates, preview
