Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-08, with the labels that each got.

#2131 fix error in filename and url
  Events/hpcbp-086-softwaresustainability.md
Labels: content: event, content: updates

#2138 Adds an event for the Second Virtual Workshop on Multi-Project CI/CD
  Events/2024-12-virtual-workshop-on-multiproject-cicd.md
Labels: content: event, preview, external contribution

#2141 Fixes for How to Improve Testing for CSE Software article
  Articles/Blog/HowtoImproveTestinginyourCSESoftwareProject.md
Labels: preview

#2146 Curated Content: Guide to Securing Scientific Software
  CuratedContent/GuideSecuringScientificSoftware.md
Labels: content: curated, preview

#2145 CC article C++ Core Guidelines (#2110)
  CuratedContent/CppCoreGuidelines.md
Labels: content: curated, preview

#2147 Adding missing pubdate to cc
  CuratedContent/CppCoreGuidelines.md
Labels: content: curated, content: updates, preview

#2140 wrote article draft
  Articles/Blog/2024-08-ACM-REP-23-24.md
Labels: content: blog, preview, external contribution

#2148 August carousel
  Site/Homepage.md
Labels: content: updates, preview

#2149 Update 2023-F-Mudafort.md
  Articles/Blog/2024-08-BSSw-Science-Improved-Communication.md
  Site/BSSwFellowshipProgram/People/2023-F-Mudafort.md
  Site/Homepage.md
Labels: content: blog, preview
