Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-12, with the labels that each got.

#2208 Create placeholders: 5 Fs and 5 HMs
  Articles/Blog/2024-12-2025BSSwFellowshipAnnounce.md
  Site/Announcements/Announcements.md
  Site/BSSwFellowshipProgram/People/2025-F-Altuntas.md
  Site/BSSwFellowshipProgram/People/2025-F-Buckley-Williams.md
  Site/BSSwFellowshipProgram/People/2025-F-Sipőcz.md
  Site/BSSwFellowshipProgram/People/2025-F-Williams.md
  Site/BSSwFellowshipProgram/People/2025-F-Zhang.md
  Site/BSSwFellowshipProgram/People/2025-HM-Atindama.md
  Site/BSSwFellowshipProgram/People/2025-HM-Brown.md
  Site/BSSwFellowshipProgram/People/2025-HM-Castillo.md
  Site/BSSwFellowshipProgram/People/2025-HM-Serhan.md
  Site/BSSwFellowshipProgram/People/2025-HM-Zibran.md
  images/Blog_BSSwF_2025_F_Altuntas.jpg
  images/Blog_BSSwF_2025_F_Buckley-Williams.jpg
  images/Blog_BSSwF_2025_F_Sipocz.jpg
  images/Blog_BSSwF_2025_F_Williams.jpg
  images/Blog_BSSwF_2025_F_Zhang.jpg
  images/Blog_BSSwF_2025_HM_Atindama.jpg
  images/Blog_BSSwF_2025_HM_Brown.jpg
  images/Blog_BSSwF_2025_HM_Castillo.jpg
  images/Blog_BSSwF_2025_HM_Serhan.jpg
  images/Blog_BSSwF_2025_HM_Zibran.jpg
  images/People_2025_F_Altuntas.jpg
  images/People_2025_F_Buckley-Williams.jpg
  images/People_2025_F_Williams.jpg
  images/People_2025_F_Zhang.jpg
  images/People_2025_HM_Atindama.jpg
  images/People_2025_HM_Brown.jpg
  images/People_2025_HM_Castillo.jpg
  images/People_2025_HM_Serhan.jpg
  images/People_2025_HM_Zibran.jpg
Labels: preview

#2210 2025 BSSwF: consistent organization
  Articles/Blog/2024-12-2025BSSwFellowshipAnnounce.md
  Site/BSSwFellowshipProgram/People/2025-F-Williams.md
Labels: external contribution

#2209 First pass at a CC for Diátaxis
  CuratedContent/diataxis.md
Labels: content: curated, preview

#2212 Event for ISS2025 conference
  Events/2025-04-iss.md
Labels: content: event, preview

#2211 CC: Technical Debt in Practice: How to Find It and Fix It (#2194)
  CuratedContent/TechnicalDebtInPractice.md
Labels: content: curated, preview

#2215 Dec Carousel
  Site/Homepage.md
Labels: content: updates, preview

#2217 Event for Byte-Sized RSE January webinar
  Events/2025-01-bytesize-rse.md
Labels: content: event, preview
