Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-03, with the labels that each got.

#2023 Update ATPESC deadline
  Events/ATPESC2024.md
Labels: content: event, content: updates

#2024 Create 2024-07-intersect-bootcamp.md
  Events/2024-07-intersect-bootcamp.md
Labels: content: event, preview, external contribution

#2025 Create 2024-06-URSSI-school.md
  Events/2024-06-URSSI-school.md
Labels: content: curated, preview, external contribution

#2027 US-RSE'24 conference event
  Events/2024-usrse-conf.md
Labels: content: event, preview

#2034 Update bssw_onboarding.md
  docs/pages/bssw/bssw_onboarding.md
Labels: content: updates, type: documentation

#2036 Update WhatScienceSaysIsTheBestFont.md
  CuratedContent/WhatScienceSaysIsTheBestFont.md
Labels: content: curated, preview

#2020 Add CC for what science says is the best font
  CuratedContent/WhatScienceSaysIsTheBestFont.md
Labels: content: curated, preview

#2038 Update 2024-03-usrse-awards.md
  Events/2024-03-usrse-awards.md
Labels: content: event, content: updates, preview

#2022 Add curatedcontent page for Nicoles' BSSw fellowship project
  CuratedContent/Jupyter4Science.md
  images/jupyter4science-1.png
  images/jupyter4science-2.png
Labels: content: curated, preview, external contribution

#2042 Make Jeff's name consistent with other articles
  Events/2024-07-intersect-bootcamp.md
Labels: content: event, content: updates

#2043 Update Contributors.md
  Site/Contributors.md
Labels: scope: site-internal

#2044 Corrections to Contributors.md
  Site/Contributors.md
Labels: scope: site-internal

#2049 Minor edits from Lois for Kubernetes blog
  Articles/Blog/2024-03-k8s-security.md
Labels: content: blog, content: updates

#2045 CC on Resources for OSPOs
  CuratedContent/ResourcesforOSPO.md
Labels: content: curated, preview

#2050 Wrong year in publish date
  CuratedContent/ResourcesforOSPO.md
Labels: content: curated, content: updates, preview

#2051 Draft of event for CW24
  Events/2024-04-cw24-workshop.md
Labels: content: event, preview

#2052 Correct Addi's name
  Articles/Blog/2020-12-2021BSSwFellowshipAnnouncement.md
  CuratedContent/swr-panels-cc.md
  Events/swr-007-creativity.md
  Events/swr-008-creativity.md
  Site/BSSwFellowshipProgram/People/2021-HM-Thakur-Malviya.md
Labels: content: updates

#2054 Add workflow to create a PR for updates to the HPC-BP webinar curated…
  .github/workflows/hpcbp-cc-pr.yml
Labels: type: enhancement, scope: site-internal

#2037 CC for "Getting an RSE org started" doc
  CuratedContent/GettingStartedWithAnRSEMovement.md
Labels: content: curated, preview

#2056 Carousel for March
  Site/Homepage.md
Labels: content: updates, preview

#2057 Update Homepage.md
  Site/Homepage.md
Labels: content: updates, preview

#2058 Add RSE topic to the article
  CuratedContent/GettingStartedWithAnRSEMovement.md
Labels: content: updates, preview
