Repository betterscientificsoftware/bssw.io, pull requests merged in 2024-02, with the labels that each got.

#1995 Remove original articles reference from EB docs
  docs/_data/sidebars/bssw_sidebar.yml
  docs/pages/bssw/bssw_content_overview.md
  docs/pages/bssw/bssw_content_placement.md
  docs/pages/bssw/bssw_content_publishing.md
  docs/pages/bssw/bssw_file_naming.md
  docs/pages/bssw/bssw_styling_blogs.md
Labels: type: documentation

#1996 Update bssw_styling_blogs.md
  docs/pages/bssw/bssw_styling_blogs.md
Labels: type: documentation

#1997 Change original articles to blogs on bssw.io
  Site/WhatToContribute.md
Labels: content: updates, preview

#1998 Remove reference to original article
  docs/_data/sidebars/bssw_sidebar.yml
  docs/pages/bssw/bssw_author_guidelines_blog.md
  docs/pages/bssw/bssw_content_placement.md
  docs/pages/bssw/bssw_styling_blogs.md
Labels: type: documentation

#1992 copy julia bugs files from PR
  Articles/Blog/2024-02-julia-bugs.md
  images/julia-bugs-taxonomy.png
Labels: content: blog, preview

#2005 next HPC-BP webinar
  Events/hpcbp-082-codereview.md
Labels: content: event, preview

#2006 Update to next HPC-BP webinar
  Events/hpcbp-082-codereview.md
Labels: content: event, content: updates

#2007 Create event for HiRSE webinar 26 in Feburary
  Events/hirse-026-2024-02.md
Labels: content: event, preview, external contribution

#2008 Add note to submit event before 1st
  docs/pages/bssw/bssw_eventworkflow.md
Labels: content: event, scope: site-internal

#2009 Update HiRSE webinar event: Revised connection information
  Events/hirse-026-2024-02.md
Labels: content: event, content: updates, preview

#2012 Add User Experience Design topic
  Articles/WhatIs/WhatIsUserExperienceDesign.md
  Site/Topics/Planning.md
Labels: scope: site-internal, preview

#2013 STRUDEL project events
  Events/2024-03-strudel-getting-started.md
  Events/2024-03-strudel-hackathon.md
Labels: content: event, preview

#2011 Fixing Grammerly complaints in the WhatIs articles
  Articles/WhatIs/WhatAreConferencesAndWorkshops.md
  Articles/WhatIs/WhatAreCseSwDevptTools.md
  Articles/WhatIs/WhatAreCseSwRequirements.md
  Articles/WhatIs/WhatAreDiscussionAndQuestionSitesForBetterScientificSw.md
  Articles/WhatIs/WhatAreFundingSourcesAndProgramsAddressingBetterScientificSw.md
  Articles/WhatIs/WhatAreInteroperableSwLibraries.md
  Articles/WhatIs/WhatIsContinuousIntegrationTesting.md
  Articles/WhatIs/WhatIsCseLegacyCode.md
  Articles/WhatIs/WhatIsCseSwDesign.md
  Articles/WhatIs/WhatIsCseSwDistribution.md
  Articles/WhatIs/WhatIsCseSwRefactoring.md
  Articles/WhatIs/WhatIsCseSwTesting.md
  Articles/WhatIs/WhatIsDebugging.md
  Articles/WhatIs/WhatIsInPersonLearning.md
  Articles/WhatIs/WhatIsInclusivity.md
  Articles/WhatIs/WhatIsIssueTracking.md
  Articles/WhatIs/WhatIsOnlineLearning.md
  Articles/WhatIs/WhatIsPeerCodeReview.md
  Articles/WhatIs/WhatIsPerfPortabilityForCseApps.md
  Articles/WhatIs/WhatIsReproducibility.md
  Articles/WhatIs/WhatIsRevisionControl.md
  Articles/WhatIs/WhatIsSoftwareIntellectualProperty.md
  Articles/WhatIs/WhatIsSoftwareProcessImprovement.md
  Articles/WhatIs/WhatIsSwProductivity.md
  Articles/WhatIs/WhatIsSwSustainability.md
  Articles/WhatIs/WhatIsWorkOnSwPublishingAndCitation.md
Labels: type: bug, scope: site-internal, preview

#2017 Add US-RSE Awards event
  Events/2024-03-usrse-awards.md
Labels: content: event, preview

#1985 Add CC for LLNL SWING on MSLs
  CuratedContent/PerspectivesOnMSLs.md
  pdfs/January_2024_SWING_Sottile_MSL_Slides.pdf
Labels: content: curated, preview

#2018 Add pub dates and contributors for STRUDEL events
  Events/2024-03-strudel-getting-started.md
  Events/2024-03-strudel-hackathon.md
Labels: content: event, content: updates, preview

#1988 Blog: SC23 SWE-CSE BoF
  Articles/Blog/2024-02-sc23-swe-cse-bof.md
  images/Blog_0201_SC23A.jpg
Labels: content: blog, preview

#2003 Create onboarding issue with checklist
  .github/ISSUE_TEMPLATE/onboarding-ebmember.md
  docs/_data/sidebars/bssw_sidebar.yml
  docs/pages/bssw/bssw_onboarding.md
Labels: scope: site-internal
