Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-09, with the labels that each got.

#2373 Blog article for practical reproducibility workshop report
  Articles/Blog/2025-09-reproducibility-report.md
Labels: content: blog, preview

#2379 BSSwF26 - link to figshare Q&A slides
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: external contribution

#2386 Create RSEvsSERLanguage.md
  CuratedContent/RSEvsSERLanguage.md
Labels: content: curated, preview

#2388 SC25 software-related events event
  Events/2025-11-sc25-sw-events.md
Labels: content: event, preview

#2390 Sep Carousel
  Site/Homepage.md
Labels: content: updates, preview

#2391 Update Homepage.md
  Site/Homepage.md
Labels: content: updates, preview

#2394 Update 2025-11-sc25-sw-events.md
  Events/2025-11-sc25-sw-events.md
Labels: content: event, content: updates, external contribution
