Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-07, with the labels that each got.

#2347 2024 BSSw Fellows projects and perspectives
  Articles/Blog/2025-07-BSSwFellows2024.md
  images/Blog_2507_BSSwFellows2024.png
Labels: preview, external contribution

#2349 Bridging RSE and SERs Ten Rules
  CuratedContent/BridgingRSEandSETenRules.md
Labels: content: curated, preview

#2352 UX blog series, article 2 of 5
  Articles/Blog/2024-10-ux.md
  Articles/Blog/2025-07-ux2.md
  images/2025-07-ux2-ogrre.png
Labels: content: blog, preview

#2356 Fix URL
  Articles/Blog/2024-10-ux.md
Labels: content: blog, content: updates, preview

#2353 CC: AI Coding Agents: What Works and What Doesn't (Webinar)
  CuratedContent/AiCodingAgentsWhatWorks.md
Labels: content: curated, preview
