Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-01, with the labels that each got.

#2218 Date change for January webinar
  Events/hpcbp-089-green-software.md
Labels: content: event, content: updates, preview

#2223 Create BSSwHighlights2024.md
  Articles/Blog/BSSwHighlights2024.md
Labels: content: blog, preview

#2224 CC on bssw.io paper
  CuratedContent/2025-bssw-story-paper.md
Labels: content: curated, preview

#2220 Bsswf update
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
Labels: preview, external contribution

#2226 Create 2025-05-s3c-conference.md
  Events/2025-05-s3c-conference.md
Labels: content: event, preview

#2228 Create 2025-01-bytesize-rse-b.md
  Events/2025-01-bytesize-rse-b.md
Labels: content: event, preview

#2230 Fix spelling error
  Events/2025-05-s3c-conference.md
Labels: content: event, content: updates

#2229 Update Blog to fix track, event to fix TBD
  Articles/Blog/2024-12-2025BSSwFellowshipAnnounce.md
  Events/2024BSSwF_team-learning-workshop.md
Labels: preview

#2235 Update Collaboration.md
  Articles/Blog/2022-07-vive-la-difference-rse.md
  Articles/Blog/2024-05-InclusivityDeepDive.md
  Articles/Blog/BSSwHighlights2022.md
  Articles/Blog/BSSwHighlights2023.md
  Articles/Blog/BSSwHighlights2024.md
  Articles/Blog/InclusiveLanguageCodeUpdateExample.md
  Articles/Blog/IncreasingProductivityBroadeningParticipation.md
  Articles/WhatIs/WhatIsInclusivity.md
  CuratedContent/2023-02-Inclusivescientificmeetings.md
  CuratedContent/AgileManifestoAndInclusion.md
  CuratedContent/AllInMaintainersDEIResourceHub.md
  CuratedContent/CodedBiasMovie.md
  CuratedContent/ColorOracleTool.md
  CuratedContent/InclusiveNamingInitiative.md
  CuratedContent/InclusiveTermsResources.md
  CuratedContent/InclusivityBugs.md
  CuratedContent/WhatScienceSaysIsTheBestFont.md
  CuratedContent/WordsMatter.md
  Events/2022-03-diverse-leung.md
  Events/2022-05-diverse-turner.md
  Events/2022-10-hpcwd-blc.md
  Events/2022-sustainable-research-pathways.md
  Events/2023-05-diverse-horsfall.md
  Events/2024-02-HPCCultureIdentity.md
  Events/hpcbp-088-inclusive-practices.md
  Site/Topics/Collaboration.md
Labels: preview

#2237 Update BSSwHighlights2022.md
  Articles/Blog/BSSwHighlights2022.md
  CuratedContent/CollectionOpenSourceSwProjects.md
  CuratedContent/ColorOracleTool.md
  CuratedContent/WhatScienceSaysIsTheBestFont.md
  docs/pages/bssw/bssw_content_metadata.md
Labels: preview

#2227 Cc selfish reasons for reproducibility
  CuratedContent/FiveSelfishReasonsToWorkReproducibly.md
Labels: content: curated, preview

#2240 Archiving unpublished articles
  Articles/Blog/2022-07-vive-la-difference-rse.md
  Articles/Blog/2024-05-InclusivityDeepDive.md
  Articles/Blog/InclusiveLanguageCodeUpdateExample.md
  Articles/Blog/IncreasingProductivityBroadeningParticipation.md
  Articles/WhatIs/WhatIsInclusivity.md
  CuratedContent/2023-02-Inclusivescientificmeetings.md
  CuratedContent/AgileManifestoAndInclusion.md
  CuratedContent/AllInMaintainersDEIResourceHub.md
  CuratedContent/CodedBiasMovie.md
  CuratedContent/InclusiveNamingInitiative.md
  CuratedContent/InclusiveTermsResources.md
  CuratedContent/InclusivityBugs.md
  CuratedContent/WordsMatter.md
  Events/2022-03-diverse-leung.md
  Events/2022-05-diverse-turner.md
  Events/2022-10-hpcwd-blc.md
  Events/2022-sustainable-research-pathways.md
  Events/2023-05-diverse-horsfall.md
  Events/hpcbp-064-embracingchange.md
  Events/hpcbp-088-inclusive-practices.md
Labels: scope: site-internal

#2161 2024 Documentation Article draft for bssw blog
  Articles/Blog/2025-01-documentation-psip.md
Labels: content: blog, preview, external contribution

#2241 Offboarding for tech projects CC
  CuratedContent/OffBoardingForTechnicalProjects.md
Labels: content: curated, preview

#2245 Temporarily unpublish OffBoardingForTechnicalProjects.md
  CuratedContent/OffBoardingForTechnicalProjects.md
Labels: content: curated, content: updates, preview

#2246 Create ATPESC2025.md
  Events/ATPESC2025.md
Labels: content: event, preview

#2247 Jan Carousel Homepage.md
  Site/Homepage.md
Labels: content: updates, preview
