Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-06, with the labels that each got.

#2322 Update hpcbp-cc-pr.yml
  .github/workflows/hpcbp-cc-pr.yml
Labels: type: bug, scope: site-internal

#2326 A CC for the Dos and Don'ts article
  CuratedContent/DosAndDontsWhenSunsettingOpenSourceProjects.md
Labels: content: curated, preview

#2329 RSE-HPC workshop blog article
  Articles/Blog/2025-03-sc24-swe-cse-bof.md
  Articles/Blog/2025-06-sc24-rse-workshop.md
  images/Blog_2506_SC24.png
Labels: content: blog, preview

#2333 comment didn't take
  Site/BSSwFellowshipProgram/FellowshipsApply.md
Labels: external contribution

#2336 Investigating Research Software Engineering
  CuratedContent/ResearchingRSE.md
Labels: content: curated, preview

#2337 June Carousel
  Site/Homepage.md
Labels: content: updates, preview

#2334 Add an event announcement for Workshop on Correctness and Reproducibility for Earth system software
  Events/2025-11-workshop-correctness-earth.md
Labels: content: event, preview, external contribution

#2338 Update June carousel with new event
  Site/Homepage.md
Labels: content: updates, preview

#2342 Fixing broken links
  CuratedContent/GoodEnoughPracticesInScientificComputing.md
Labels: content: updates, preview

#2298 Update H4s to H5s UnderstandingInteroperableLibraries.md
  Articles/Blog/UnderstandingInteroperableLibraries.md
Labels: content: updates, preview
