Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-08, with the labels that each got.

#2360 BSSwF Applications open for 2026 class
  Articles/Blog/2025-08-BSSwFellowsOpen2025.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
  Site/BSSwFellowshipProgram/FellowshipsApply.md
  Site/BSSwFellowshipProgram/FellowshipsOverview.md
  Site/BSSwFellowshipProgram/MeetFellows.md
  Site/BSSwFellowshipProgram/People/2025-F-Buckley-Williams.md
  Site/BSSwFellowshipProgram/People/2025-F-Sipőcz.md
  images/OG_2508_BSSwFellowships.png
Labels: content: blog, content: updates, preview, external contribution

#2364 Update 2025-08-BSSwFellowsOpen2025.md
  Articles/Blog/2025-08-BSSwFellowsOpen2025.md
  Site/Announcements/Announcements.md
  Site/Homepage.md
Labels: external contribution

#2344 CC Don't Just Package Your Libraries, Write Packagable Libraries
  CuratedContent/DontPackageYourLibrariesWritePackagableLibraries.md
Labels: content: curated, preview

#2370 Create 2025-10-bssw-fellowship.md
  Events/2025-10-bssw-fellowship.md
  Events/hpcbp-008-python.md
  Site/BSSwFellowshipProgram/FellowsFAQ.md
Labels: preview

#2372 Minor tweak of link text
  Articles/Blog/2025-08-bsswf-profile1.md
Labels: content: blog, content: updates

#2374 Adding another ignore word to codespell
  .codespellrc
Labels: type: bug, content: event, scope: site-internal, content: updates
