Repository betterscientificsoftware/bssw.io, pull requests merged in 2025-02, with the labels that each got.

#2250 Blog: Developing Coding Standards/Practices for Sustainable Software Development
  .codespellrc
  Articles/Blog/2025-02-coding-stanards-for-sustainable-software.md
Labels: content: blog, preview

#2252 Add 2025 INTERSECT Bootcamp Event
  Events/2025-07-intersect-bootcamp.md
Labels: content: event, preview, external contribution

#2249 Article on best practices in multi-project CI/CD
  Articles/Blog/2025-02-best-practices-for-mpcicd.md
Labels: content: blog, preview, external contribution

#2258 Update OffBoardingForTechnicalProjects.md
  CuratedContent/OffBoardingForTechnicalProjects.md
Labels: content: curated

#2256 February carousel
  Site/Homepage.md
Labels: content: updates

#2259 Update OffBoardingForTechnicalProjects.md
  CuratedContent/OffBoardingForTechnicalProjects.md
Labels: content: curated, content: updates

#2262 Update headers in 2025-02-best-practices-for-mpcicd.md
  Articles/Blog/2025-02-best-practices-for-mpcicd.md
Labels: preview
